{% extends "layouts/base.html" %}
{% csrf_token %}
{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <fieldset>

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="container mt-3">
                            <h2>Choisir ton métier</h2>
                            
                            <form action="/kpi.html">
                              <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something">
                                <label class="form-check-label" for="check1">Resources Humaines</label>
                              </div>
                              <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
                                <label class="form-check-label" for="check2">Industry</label>
                              </div>
                              <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="check3" name="option3" value="something">
                                <label class="form-check-label" for="check3">Marketing</label>
                              </div>
                              <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="check4" name="option4" value="something">
                                <label class="form-check-label" for="check4">Management</label>
                              </div>
                              <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="check5" name="option5" value="something">
                                <label class="form-check-label" for="check5">IT/Telecoms</label>
                              </div>
                              <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="check6" name="option6" value="something">
                                <label class="form-check-label">Production</label>
                              </div>
                              <button type="submit" class="btn btn-primary mt-3">Next</button>
                            </form>
                          </div>
                          
            
        </fieldset>
    </div>
</div>
</div>

</div>
</div>
    {% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
