{% extends "layouts/base.html" %} {% block title %} Data {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="{{ ASSETS_ROOT }}/css/pagination.css" />
{% endblock stylesheets %} 
{% block content %}

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
          <div class="page-block">
            <div class="row align-items-center">
              <div class="col-md-12">
                <div class="page-header-title">
                  <h5 class="m-b-10">Datawarehouse Tables</h5>
                </div>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/"><i class="feather icon-home"></i></a>
                  </li>
                  <li class="breadcrumb-item"><a href="#">Tables</a></li>
                  <li class="breadcrumb-item"><a href="#">Employés</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            <div class="row">
              <!-- [ basic-table ] start -->
              <div class="col-xl-12">
                <div class="card">
                  <div class="card-header">
                    <h5>Employés</h5>
                  </div>
                  <div class="card-block table-border-style">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Sexe</th>
                            <th>Date Naissance</th>
                            <th>Lieu Naissance</th>
                            <th>Adresse</th>
                            <th>Ville</th>
                            <th>Nbr Enfants</th>
                            <th>SalaireBase</th>
                            <th>Banque</th>
                            <th>Date Recrutement</th>
                            <th>Date Debut Contrat</th>
                            <th>Duree Contrat</th>
                            <th>Poste</th>
                            <th>Montant Rend</th>
                            <th>Note Absence</th>
                            <th>Nombre Absence</th>
                            <th>Note Assiduité</th>
                            <th>Titre</th>
                            <th>Quitter</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for employee in employees %}
                          <tr>
                            <th scope="row">{{ employee.id_employee }}</th>
                            <td>{{ employee.nom }}</td>
                            <td>{{ employee.prenom }}</td>
                            <td>{{ employee.sexe }}</td>
                            <td>{{ employee.datenaissance }}</td>
                            <td>{{ employee.lieunaissance }}</td>
                            <td>{{ employee.adresse }}</td>
                            <td>{{ employee.ville }}</td>
                            <td>{{ employee.nbenfant }}</td>
                            <td>{{ employee.salairebase }}</td>
                            <td>{{ employee.banque }}</td>
                            <td>{{ employee.daterecrutement }}</td>
                            <td>{{ employee.datedebutcontrat }}</td>
                            <td>{{ employee.dureecontrat }}</td>
                            <td>{{ employee.poste }}</td>
                            <td>{{ employee.montantrend }}</td>
                            <td>{{ employee.noteabsence }}</td>
                            <td>{{ employee.nbrabsence }}</td>
                            <td>{{ employee.noteassiduite }}</td>
                            <td>{{ employee.titre }}</td>
                            <td>{{ employee.quitter }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      {% if employees.has_other_pages %}
                      <div class="pagination">
                        {% if employees.has_previous %}
                        <li>
                          <a class="pagination-action" href="?page={{ employees.previous_page_number }}">&laquo;</a
                          >
                        </li>
                        {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                        {% endif %} 
                        {% for i in employees.paginator.page_range %} 
                        {% if employees.number == i %}
                        <li class="active">
                          <span class="pagination-number pagination-current">{{ i }}<span class="sr-only">(current)</span></span>
                        </li>
                        {% else %}
                        <li><a class="pagination-action" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %} 
                        {% endfor %} 
                        {% if employees.has_next %}
                        <li>
                          <a href="?page={{ employees.next_page_number }}">&raquo;</a
                          >
                        </li>
                        {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                      </ul>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <!-- [ basic-table ] end -->
            </div>
            <!-- [ Main Content ] end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
